a.logo {
  background: url("../images/darkblue_logo.png") no-repeat 0 0!important;
}

body a:hover, a:focus, a:active {
  color: #035094!important;
}

.rating-area a {
  color: #035094!important;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #035094!important;
  border-color: #035094!important;
}

a#scrollUp {
  background: #035094!important;
}



.usa:hover {
  background: #035094!important;
  border-color: #035094!important;
}

.usa:active, .usa.active {
  background: none repeat scroll 0 0 #035094!important;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus {
  background-color: #035094!important;
}




.shop-menu ul li a:hover {
  color: #035094!important;
}


.mainmenu ul li a:hover, .mainmenu ul li a.active, .shop-menu ul li a.active {
  color: #035094!important;
}

.dropdown ul.sub-menu li .active {
  color: #035094!important;
}



.navbar-nav li ul.sub-menu li a:hover {
  color: #035094!important;
}


.companyinfo h2 span {
  color: #035094!important;
}


.overlay-icon {
  background: #035094!important;
}

.single-widget ul li a:hover {
  color: #035094!important;
}

.searchform button {
  background: #035094!important;
}

  .searchform button:hover,
  .searchform button:focus {
    background-color: #035094!important;
  }

.footer-bottom p span a {
  color: #035094!important;
}


.carousel-indicators li.active {
  background: #035094!important;
}

.item h1 span {
  color: #035094!important;
}

.get {
  background: #035094!important;
}


.item button:hover {
  background: #035094!important;
}

.control-carousel:hover {
  color: #035094!important;
}

.left-sidebar h2, .brands_products h2 {
  color: #035094!important;
}

.category-products .panel-default .panel-heading .panel-title a:hover {
  color: #035094!important;
}

.panel-body ul li a:hover {
  color: #035094!important;
}


.brands-name .nav-stacked li a:hover {
  color: #035094!important;
}



.tooltip-inner {
  background-color: #035094!important;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #035094!important;
}




h2.title {
  color: #035094!important;
}


.productinfo h2 {
  color: #035094!important;
}

.product-overlay {
  background: #035094!important;
}

  .product-overlay .add-to-cart {
    color: #035094!important;
  }

    .product-overlay .add-to-cart:hover {
      color: #035094!important;
    }

.add-to-cart:hover {
  background: #035094!important;
}

.add-to-cart:hover {
  background: #035094!important;
}

.choose ul li a:hover {
  color: #035094!important;
}


.category-tab .nav {
  border-bottom: 1px solid #035094!important;
}


  .category-tab .nav li a:hover {
    background: #035094!important;
  }

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  background-color: #035094!important;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #035094!important;
}


.pagination .active a, .pagination .active span, .pagination .active a:hover, .pagination .active span:hover, .pagination .active a:focus, .pagination .active span:focus {
  background-color: #035094!important;
  border-color: #035094!important;
}


.pagination li a:hover {
  background: #035094!important;
}




.view-product h3 {
  background: #035094!important;
}

.item-control i {
  background: #035094!important;
}

.product-information span span {
  color: #035094!important;
}


.cart .cart-header-row {
  background: #035094!important;
  color: #fff!important;
}



#reviews ul li a i {
  color: #035094!important;
}

#reviews ul li a:hover {
  color: #035094!important;
}


#reviews button {
  background: #035094!important;
}


.content-404 h2 a {
  background: #035094!important;
}

.login-form form button, .signup-form form button {
  background: #035094!important;
}

.or {
  background: #035094!important;
}


.breadcrumbs .breadcrumb li a {
  background: #035094!important;
}

  .breadcrumbs .breadcrumb li a:after {
    border-color: #035094!important;
  }

#cart_items .cart_info .cart_menu {
  background: #035094!important;
}



#cart_items .cart_info .cart_total_price {
  color: #035094!important;
}

.cart_delete a:hover {
  background: #035094!important;
}


.update, .check_out {
  background: #035094!important;
}

.checkout-options .nav li a {
  color: #035094!important;
}

.checkout-options .nav i {
  background: #035094!important;
}


.shopper-info .btn-primary {
  background: #035094!important;
}



#cart_items .cart_info .table.table-condensed.total-result span {
  color: #035094!important;
}


.blog-post-area .post-meta ul li i {
  background: #035094!important;
}

  .sinlge-post-meta li i:after,
  .blog-post-area .post-meta ul li i:after { border-right-color: #035094!important;}

.blog-post-area .post-meta ul span {
  float: right!important;
  color: #035094!important;
}

.post-meta span i {
  color: #035094!important;
}


.blog-post-area .single-blog-post .btn-primary {
  background: #035094!important;
}


.pagination-area .pagination li a:hover,
.pagination-area .pagination li .active {
  background: #035094!important;
}

.pager-area .pager li a:hover {
  background: #035094!important;
}


.rating-area .ratings .color,
.rating-area .color {
  color: #035094!important;
}



.blog-socials ul li a:hover {
  background: #035094!important;
}


.media-list .btn-primary,
.commnets .btn-primary {
  background: #035094!important;
}


.sinlge-post-meta li i {
  background: #035094!important;
}


.replay-box label {
  background: #035094!important;
}

.replay-box span {
  color: #035094!important;
}


.replay-box form input:hover,
.text-area textarea:hover {
  border: 1px solid #035094!important;
}


.btn.btn-primary {
  background: #035094!important;
  border-color: #035094!important;
}

.blank-arrow label:after {
  border-color: #035094 transparent transparent transparent!important;
}



#contact-page .form-control:focus,
#contact-page .form-control:hover {
  border-color: #035094!important;
}

.contact-info .social-networks ul li a:hover {
  color: #035094!important;
}


a:hover {
  color: #035094!important;
}

.notifications a:hover {
  color: #035094!important;
}

.rating-div {
  color: #035094!important;
}

.recommended_items a:hover {
  color: #035094!important;
}

.form-control:hover {
  border-color: #035094!important;
}

.form-control:focus {
  border-color: #035094!important;
}

.pagination-area .pagination ul li span {
  background-color: #035094!important;
}


.product-price label {
  color: #035094!important;
}

.product-price span {
  color: #035094!important;
}

.old-product-price label {
  color: #035094!important;
}

.old-product-price span {
  color: #035094!important;
}

.tab-content .product-tags-list ul li a:hover {
  color: #035094!important;
}


#topcartlink ul.minicart-dropdown-menu li .active {
  color: #035094!important;
}


#topcartlink ul.minicart-dropdown-menu li a:hover {
  color: #035094!important;
}

.forum-post .quote-post-link-button:hover {
  color: #035094!important;
}

.forum-post .badge {
  background-color: #035094!important;
}

.rec-banner.active_position:hover {
  background-color: #035094!important;
}


.rec-banner.deactive_position:hover {
  background-color: #035094!important;
}



.form-control:hover {
  box-shadow: inherit!important;
  border-color: #035094!important;
}

.form-control:focus {
  box-shadow: inherit!important;
  border-color: #035094!important;
}

.tbl {
  background-color: #035094!important;
}

.crt-total {
  color: #035094!important;
}

.txthvr:hover {
  border: 1px solid #035094!important;
}


.lower-arrow::after {
  border-color: #035094 transparent transparent transparent!important;
}

.color-orange {
  background-color: #035094!important;
}


.theme-default .nivo-controlNav a.active, .theme-default .nivo-controlNav a:hover {
  background-color: #035094 !important;
}


.category-navigation-div.category-products .panel-default .panel-heading .panel-title a:hover {
  color: #035094!important;
}

.category-navigation-div .panel-body ul li a:hover {
  color: #035094!important;
}

.configure-button a {
  color: #035094!important;
}

.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
  background-color: #035094 !important;
}

.category-tab .nav {
  border-bottom: 2px solid #035094!important;
}

.product-list .productinfo a.product-name-a:hover {
  color: #035094!important;
}

.add-to-cart:hover {
  border: 0 none!important;
  border-radius: 0!important;
}

.add-to-cart:hover {
  color: #035094!important;
}




a.viewmode-icon.selected {
  background-color: #035094!important;
  color: #fff!important;
}

.pager li span,
.product-filter .ui-slider .ui-slider-handle,
.product-filter .ui-slider .ui-slider-range {
  background-color: #035094 !important;
}


.estimate-shipping-radio:checked + label {
  background-color: #035094 !important;
  border-color: #035094 !important;
}

.estimate-shipping-row.shipping-option.active,
.shipping-address .fa-arrow-circle-down:before {
  color: #035094!important;
}

.product-estimate-shipping {
  border: 1px solid #035094!important;
}

.bx-wrapper .bx-next:hover:before,
.bx-wrapper .bx-prev:before {
  background: #035094 !important;
}
