<?xml version="1.0" encoding="utf-8" ?>
<Theme title="nopAccelerate Simplex Theme" 
	   supportRTL="false"
	   mobileTheme="false"
     previewImageUrl="~/Themes/SimplexTheme/nopAccelerate-Simplex-Theme.png"
     previewText="Simplex Theme is simple and elegant theme which gives modern look and feel to your nopCommerce store front. Built on the top of Bootstrap using latest HTML5 and CSS3 Techniques.">
</Theme>