
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    
        <div class="header-upper-div">
            <div class="header">
                <div class="header-upper">
                </div>
            </div>
        </div>
    

    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderMiddle })

        <div class="header-lower-div">
            <div class="header">
                <div class="header-lower">
                    <div class="header-logo">
                        @await Component.InvokeAsync(typeof(LogoViewComponent))
                    </div>
                    <div class="search-box store-search-box">
                        @await Component.InvokeAsync(typeof(SearchBoxViewComponent))
                    </div>
                    <div class="header-links-wrapper">
                        @await Component.InvokeAsync("HeaderLinks")
                        @await Component.InvokeAsync("FlyoutShoppingCart")
                        @await Component.InvokeAsync("CurrencySelector")

                        @await Component.InvokeAsync("LanguageSelector")
                        @*@await Component.InvokeAsync("TaxTypeSelector")*@
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })

                    </div>
                </div>
            </div>
        </div>
    
    


@*@{
    var themeName = await themeContext.GetWorkingThemeNameAsync();
    NopHtml.AppendScriptParts(ResourceLocation.Footer, $"~/Themes/{themeName}/Content/js/Head.js");
   // NopHtml.AppendScriptParts(ResourceLocation.Footer, $"~/Themes/{themeName}/Content/js/owl.carousel.min.js");
    NopHtml.AppendScriptParts(ResourceLocation.Footer, $"~/Themes/{themeName}/Content/js/_header.js");
}*@