@{
    Layout = "_Root";

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<div class="center-1">
    <div class="page home-page">
        <div class="page-body">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
            <div class="side-2">
                @await Component.InvokeAsync("NewsletterBox")
                @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageBlock" })
            </div>
            <div class="center-2">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
                @await Component.InvokeAsync("HomepageCategories")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
                @await Component.InvokeAsync("HomepageProducts")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })

                @await Component.InvokeAsync("HomepageBestSellers")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
                @await Component.InvokeAsync("HomepageNews")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
                @await Component.InvokeAsync("HomepagePolls")
                @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
            </div>
        </div>
    </div>
</div>

