<?xml version="1.0" encoding="utf-8" ?>
<Theme title="nopAccelerate Core Theme" 
	   supportRTL="false"
	   mobileTheme="false"
     previewImageUrl="~/Themes/CoreTheme/nopAccelerate-Core-Theme.png"
     previewText="nopAccelerate Core theme is the professional starter theme for nopCommerce built on the BootStrap UI framework using latest HTML5 techniques.">
</Theme>