<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-logo">
        @await Component.InvokeAsync("Logo")
    </div>
    <div class="header-links-wrapper">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
        @await Component.InvokeAsync("HeaderLinks")
    </div>
    <div class="clear"></div>
</div>
